* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  min-height: 100vh;
  font-weight: 500;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 80px 1fr auto;
  grid-template-areas:
    "navbar navbar"
    "main main"
    "section section"
    "article article"
    "aside aside"
    "footer footer";
}
nav {
  grid-area: navbar;
  height: 80px;
  width: 100%;
  background: black;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.link {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
nav a {
  height: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: 0.5s ease;
  color: white;
}
nav a:hover {
  background: blue;
}
nav a.active {
  border-bottom: 5px solid blue;
}
nav img {
  height: 75px;
  margin-right: auto;
}
nav svg {
  fill: white;
}
#menu,
#close {
  display: none;
}
nav label {
  display: none;
  padding: 0 20px;
}
main {
  grid-area: main;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  margin: 25px auto;
  width: max-content;
  height: fit-content;
  border-radius: 25px;
}
main img {
  border-radius: 25px;
  border: 5px solid grey;
}
main .textandbutton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px;
}
main .textandbutton .text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  font-size: 18px;
}
main .textandbutton .text span {
  font-size: 50px;
}
main .textandbutton .text p {
  font-size: 36px;
}
main .textandbutton .button button {
  border: 5px solid grey;
  border-radius: 25px;
  padding: 25px;
  width: 250px;
  height: fit-content;
  background-color: rgb(255, 255, 255);
  font-size: 26px;
  margin: 25px;
  transition: 0.3s ease;
}
main .textandbutton .button button:hover {
  background-color: grey;
}
section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  gap: 20px;
  grid-area: section;
}
section p {
  font-size: 26px;
  font-weight: 500;
  color:  black;
  text-align: center;
}
section span {
font-size: 36px;
font-weight: 800;
}
.experience {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  border:  5px solid grey;
  padding: 20px;
    width: 500px;
}
.experience p {
  font-size: 20px;
}
.education {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  border:  5px solid grey;
  padding: 20px;
  width: 500px;
}
.education p {
  font-size: 20px;
}
section .info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: fit-content;
  padding: 20px;
}
section .info p {
  font-size: 22px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  color: rgb(80, 80, 80);
}
article {
  grid-area: article;
}
article p {
  font-size: 36px;
  text-align: center;
  padding: 25px;
}
article span {
  font-weight: 900;
}
article .skill {
  display: grid;
  gap: 30px;
  grid-template-columns:  repeat(auto-fit, 200px);
  justify-content: center;
}
article .skill .skillnum1 {
  background-color: rgb(255, 255, 255);
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  border-radius: 25px;
  border: solid 5px grey;
}
article .skill .skillnum1 img {
  height: 100px;
}
aside {
  grid-area:  aside;
}
aside .textcontact {
  text-align: center;
  font-size: 36px;
  padding: 10px;
}
aside .textcontact span {
  font-weight: 800;
}
aside .contact {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column; 
gap: 25px;
}
aside .contact .contact1 {
  background: rgb(255, 255, 255);
  border: 5px solid grey;
  border-radius: 25px;
  padding: 20px;
  width: 700px;
  height: fit-content;
  text-align: center;
  margin: 0px 0px 50px 0px;
}
aside .contact .contact1 a {
  text-decoration: none;
  color: black;
}
footer {
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(189, 189, 189);
  padding: 10px;
}
footer .textfooter h1{
  font-size: 50px;
  text-align: center;
}
footer .textfooter p {
  font-size: 26px;
  text-align: center;
  padding: 10px;
  color: rgb(80, 80, 80);
}
footer .quicklink {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .quicklink h1 {
  font-size: 26px;
}
footer .quicklink a {
  color: rgb(80, 80, 80) ;
  font-size: 20px;
  text-decoration: none;
}
footer .social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
footer .social .svgsocial img {
  padding: 10px;
}
footer #final {
  font-size: 26px;
  color: rgb(255, 255, 255);
}
@media (max-width: 1060px) {
  main {
    display: flex;
    flex-direction: column;
    width:  705px;
  }
}
@media (max-width: 560px) {
  nav .link {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    height: 0;
    right: -100%;
    z-index: 10;
    max-width: 350px;
    width: 80%;
    height: 100%;
    background-color: black;
    transition: 0.5s ease;
  }
  nav a {
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 20px;
    justify-content: flex-start;
  }
  nav label {
    display: block;
    padding: 20px;
  }
  #menu:checked ~ .link {
    right: 0;
  }
}
